@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
body {
font-family: 'Poppins', sans-serif;
padding: 50px;
background-color: rgb(255, 245, 245);
font-family: sans-serif
}

#container {
display: flex;
justify-content: flex;
}
