 .todoListMain .header button {
    padding: 10px;
    margin: 10px;
    margin-right: 0px;
    border-radius: 10px;
    font-size: 16px;
    background-color: #ec5519;
    border: 2px solid #ec5519;
    color: aliceblue;
}

.todoListMain .header button:hover {
    background-color: #f85d03;
    border: 2px solid #f85d03;
    cursor: pointer;

}

.todoListMain .header input {
    padding: 10px; 
    font-size: 16px;
    border-radius: 6px;
    border: 2px solid rgb(192, 192, 192);
    width: 15
}

.todoListMain .theList li {
    color: black;
    background-color: #ffddb7;
    margin-bottom: 15px;
    padding: 12px;
    list-style: none;
    text-align: center;
    border-radius: 4px;
    transition: background-color .2s ease-out

}
.todoListMain .theList li:hover {
    background-color: rgb(255, 115, 96)
}

ul.theList {
    padding: 0;
}

.container {
    margin-left: 600px;
}

.text {
    margin-bottom: 80px;
}